<div class="ascii-art" style="text-align: left;">
    <pre>
        <code>
<span style="color:gray">
                                                                .
                                                          ..:-:</span><span style="color:#dfdaf1">+</span><span
                    style="color:gray">::
                                                      -</span><span style="color:#dfdaf1">+</span><span
                    style="color:#00b49c">==-</span><span style="color:white">+</span><span style="color:#dfdaf1">=</span><span
                    style="color:#00b49c">=</span><span style="color:#dfdaf1">=+</span><span style="color:white">*</span><span
                    style="color:gray">-.
                                                   :</span><span style="color:white">++++*++</span><span
                    style="color:#dfdaf1">+</span><span style="color:white">*+</span><span style="color:#00b49c">-</span><span
                    style="color:white">+</span><span style="color:#00b49c">=</span><span style="color:#dfdaf1">==</span><span
                    style="color:gray">
                                                .</span><span style="color:#dfdaf1">+</span><span
                    style="color:white">*****#*</span><span style="color:#dfdaf1">+</span><span style="color:white">*++*</span><span
                    style="color:#dfdaf1">++</span><span style="color:white">*</span><span style="color:#dfdaf1">+</span><span
                    style="color:#00b49c">-</span><span style="color:gray">
                                             :</span><span style="color:#00b49c">-=-</span><span
                    style="color:#dfdaf1">+</span><span style="color:white">+*+**#*+**#*+**</span><span
                    style="color:#dfdaf1">++</span><span style="color:gray">
                                         .::</span><span style="color:#00b49c">=</span><span
                    style="color:gray">-</span><span style="color:#00b49c">=</span><span style="color:#dfdaf1">==+</span><span
                    style="color:white">*++*****+*#**++</span><span style="color:#dfdaf1">=+</span><span style="color:gray">
                                     ..::-:</span><span style="color:#00b49c">=---</span><span style="color:#dfdaf1">++</span><span
                    style="color:white">+</span><span style="color:#dfdaf1">+</span><span style="color:white">*</span><span
                    style="color:#dfdaf1">+</span><span style="color:white">**##***+***</span><span
                    style="color:#dfdaf1">=</span><span style="color:white">++</span><span style="color:gray">-
                                ...  .:::::</span><span style="color:#00b49c">-</span><span
                    style="color:gray">--</span><span style="color:#00b49c">=</span><span style="color:#dfdaf1">+++</span><span
                    style="color:white">**##*#*#**#***+*+</span><span style="color:gray">-
                                . . ...:.</span><span style="color:#00b49c">-</span><span
                    style="color:gray">--</span><span style="color:#00b49c">=</span><span style="color:#dfdaf1">==++</span><span
                    style="color:white">+*</span><span style="color:#dfdaf1">+</span><span
                    style="color:white">****####**#**</span><span style="color:#dfdaf1">+</span><span style="color:gray">-.
                                 .. ...::::</span><span style="color:#00b49c">-</span><span
                    style="color:gray">-</span><span style="color:#00b49c">==</span><span style="color:#dfdaf1">+=++</span><span
                    style="color:white">+##*#*#*#***</span><span style="color:#00b49c">=</span><span style="color:gray">-
                                    .:..-</span><span style="color:#00b49c">-</span><span
                    style="color:gray">:::--</span><span style="color:#dfdaf1">==++</span><span style="color:white">******##**</span><span
                    style="color:#dfdaf1">=</span><span style="color:gray">:.</span><span style="color:#dfdaf1">=</span><span
                    style="color:gray">..
                                  .     ....:::</span><span style="color:#dfdaf1">=</span><span
                    style="color:gray">-:-:-</span><span style="color:#00b49c">-</span><span style="color:#dfdaf1">=+</span><span
                    style="color:white">**+**</span><span style="color:#00b49c">=</span><span style="color:white">*</span><span
                    style="color:#dfdaf1">+</span><span style="color:gray">.--</span><span style="color:white">*</span><span
                    style="color:gray">
          .                 . .                 :.</span><span style="color:#00b49c">-</span><span
                    style="color:gray">-::</span><span style="color:#00b49c">==</span><span style="color:#dfdaf1">=</span><span
                    style="color:white">*#**++</span><span style="color:#00b49c">=</span><span style="color:#dfdaf1">+</span><span
                    style="color:white">#**</span><span style="color:gray">
            .             .         ...-::</span><span style="color:#dfdaf1">=</span><span
                    style="color:#00b49c">=</span><span style="color:white">*</span><span style="color:#dfdaf1">+</span><span
                    style="color:white">*</span><span style="color:#dfdaf1">=</span><span style="color:gray">   </span><span
                    style="color:white">+</span><span style="color:gray">. ..-</span><span style="color:#dfdaf1">=</span><span
                    style="color:white">+*+</span><span style="color:#dfdaf1">+</span><span style="color:white">***+#*</span><span
                    style="color:gray">
                              .  .:.:--..   .</span><span style="color:#dfdaf1">+</span><span style="color:gray">..:</span><span
                    style="color:#dfdaf1">+</span><span style="color:white">*+</span><span style="color:#dfdaf1">=</span><span
                    style="color:gray">.. .:</span><span style="color:#00b49c">=</span><span style="color:white">**</span><span
                    style="color:#dfdaf1">=</span><span style="color:white">***#**</span><span style="color:gray">
                              .. :.:..:-.-::</span><span style="color:#dfdaf1">=</span><span
                    style="color:#00b49c">=</span><span style="color:white">+</span><span style="color:gray">-</span><span
                    style="color:white">*#*</span><span style="color:#00b49c">-</span><span style="color:gray">:::  .:-</span><span
                    style="color:white">+</span><span style="color:#dfdaf1">++</span><span style="color:white">##**</span><span
                    style="color:gray">.
                               .  ..:-</span><span style="color:#dfdaf1">+=</span><span
                    style="color:#00b49c">==</span><span style="color:white">+</span><span style="color:#dfdaf1">+</span><span
                    style="color:white">***#**</span><span style="color:#dfdaf1">++</span><span style="color:white">+</span><span
                    style="color:gray">-.:. .-</span><span style="color:#00b49c">=</span><span style="color:white">+</span><span
                    style="color:#dfdaf1">+</span><span style="color:white">*##*</span><span style="color:gray">
                                .. .:</span><span style="color:#00b49c">=</span><span
                    style="color:#dfdaf1">+++</span><span style="color:white">+**+*#*#**++</span><span
                    style="color:gray">::.. ..</span><span style="color:#00b49c">-</span><span style="color:#dfdaf1">+</span><span
                    style="color:white">*</span><span style="color:#dfdaf1">+</span><span style="color:white">#*#</span><span
                    style="color:gray">
                                  .:--</span><span style="color:#dfdaf1">=</span><span
                    style="color:white">++</span><span style="color:#dfdaf1">+</span><span
                    style="color:white">#*+###*##+*</span><span style="color:gray">:::.:.:-</span><span
                    style="color:#00b49c">=</span><span style="color:white">#*</span><span style="color:#dfdaf1">+</span><span
                    style="color:white">#</span><span style="color:gray">.
                                 ...:::</span><span style="color:#00b49c">-=</span><span
                    style="color:#dfdaf1">+++</span><span style="color:white">#*#####*</span><span
                    style="color:gray">-  ....:.-</span><span style="color:#dfdaf1">=</span><span style="color:white">#**</span><span
                    style="color:gray">
                               .   .::.:</span><span style="color:#00b49c">-</span><span
                    style="color:#dfdaf1">=+</span><span style="color:white">++</span><span style="color:#dfdaf1">+</span><span
                    style="color:white">**###</span><span style="color:#dfdaf1">=</span><span
                    style="color:gray">: :...::::</span><span style="color:#dfdaf1">++</span><span style="color:white">##</span><span
                    style="color:gray">
                               .  . ..::</span><span style="color:#00b49c">=-</span><span
                    style="color:#dfdaf1">+</span><span style="color:gray">-</span><span style="color:white">+</span><span
                    style="color:#dfdaf1">+</span><span style="color:white">**###**</span><span style="color:#dfdaf1">+</span><span
                    style="color:gray">::. .:::-</span><span style="color:white">**</span><span style="color:#dfdaf1">=</span><span
                    style="color:gray">
                                . ......::</span><span style="color:#00b49c">-==</span><span
                    style="color:#dfdaf1">++</span><span style="color:white">+*#*##*</span><span
                    style="color:gray">::..:-:.</span><span style="color:#dfdaf1">=</span><span style="color:#00b49c">=</span><span
                    style="color:#dfdaf1">+</span><span style="color:gray">
                         .         .  . .::</span><span style="color:#00b49c">-==</span><span
                    style="color:white">+</span><span style="color:#dfdaf1">+</span><span style="color:white">**</span><span
                    style="color:#dfdaf1">=</span><span style="color:white">+</span><span style="color:#dfdaf1">+</span><span
                    style="color:white">+</span><span style="color:#dfdaf1">=</span><span style="color:#00b49c">=</span><span
                    style="color:gray">:-</span><span style="color:#dfdaf1">+=</span><span style="color:white">**#</span><span
                    style="color:#dfdaf1">+</span><span style="color:gray">:
                           .      .. .   ...-</span><span style="color:#00b49c">=</span><span style="color:#dfdaf1">=+</span><span
                    style="color:#00b49c">=</span><span style="color:white">+</span><span style="color:gray">-.</span><span
                    style="color:white">*</span><span style="color:#00b49c">=</span><span style="color:white">+</span><span
                    style="color:#dfdaf1">==</span><span style="color:#00b49c">-==-</span><span style="color:#dfdaf1">==+</span><span
                    style="color:gray">
                     .    ...     . .........:-</span><span style="color:#00b49c">=</span><span
                    style="color:#dfdaf1">+++</span><span style="color:white">+</span><span style="color:#dfdaf1">=</span><span
                    style="color:#00b49c">=</span><span style="color:gray">:</span><span style="color:#00b49c">-</span><span
                    style="color:gray">-</span><span style="color:#dfdaf1">+</span><span style="color:white">+++**</span><span
                    style="color:gray">
                      .   ...:.. . .. ........:</span><span style="color:#00b49c">-</span><span style="color:white">+*+</span><span
                    style="color:#dfdaf1">=</span><span style="color:white">+*+</span><span style="color:#dfdaf1">=</span><span
                    style="color:white">*+</span><span style="color:#dfdaf1">+</span><span style="color:white">+</span><span
                    style="color:#dfdaf1">+</span><span style="color:white">**</span><span style="color:gray">
                      .. . .:....:.. . . .....:</span><span style="color:#00b49c">=</span><span
                    style="color:gray">:</span><span style="color:#dfdaf1">==+++</span><span style="color:white">**+###**</span><span
                    style="color:gray">.
                        </span><span style="color:#dfdaf1">+=</span><span
                    style="color:gray">.... .::..::-..:-</span><span style="color:#dfdaf1">=+</span><span
                    style="color:gray">.::</span><span style="color:#00b49c">--==</span><span style="color:#dfdaf1">=</span><span
                    style="color:white">*</span><span style="color:#dfdaf1">+</span><span style="color:white">*#####</span><span
                    style="color:#dfdaf1">+</span><span style="color:gray">.
                         .</span><span style="color:white">*</span><span style="color:gray">:.:</span><span
                    style="color:#00b49c">-</span><span style="color:gray">:::</span><span style="color:#00b49c">-</span><span
                    style="color:#dfdaf1">===</span><span style="color:#00b49c">-</span><span style="color:gray">-</span><span
                    style="color:#00b49c">-</span><span style="color:#dfdaf1">++</span><span style="color:white">*+</span><span
                    style="color:#dfdaf1">==</span><span style="color:gray">..:.::</span><span style="color:white">*</span><span
                    style="color:#dfdaf1">+</span><span style="color:white">*+***</span><span style="color:gray">::
                           :</span><span style="color:#dfdaf1">=</span><span style="color:white">+</span><span
                    style="color:gray">::</span><span style="color:#00b49c">-</span><span style="color:gray">::</span><span
                    style="color:#00b49c">==</span><span style="color:white">+</span><span style="color:#dfdaf1">++</span><span
                    style="color:#00b49c">=</span><span style="color:white">***</span><span
                    style="color:gray">. . .. .  .   ::-</span><span style="color:white">#</span><span style="color:gray">
                             .</span><span style="color:#00b49c">=</span><span style="color:white">**</span><span
                    style="color:#dfdaf1">=</span><span style="color:gray">..</span><span style="color:#00b49c">=</span><span
                    style="color:#dfdaf1">=+</span><span style="color:white">***</span><span
                    style="color:gray">::.. .....      ::</span><span style="color:white">#</span><span
                    style="color:gray">:        </span><span style="color:white">+</span><span style="color:gray">
                              .</span><span style="color:#00b49c">=</span><span style="color:#dfdaf1">=</span><span
                    style="color:white">#</span><span style="color:#dfdaf1">+</span><span style="color:white">+#%***</span><span
                    style="color:gray">- . .  ..       .--</span><span style="color:white">%</span><span
                    style="color:gray">         </span><span style="color:white">#%</span><span style="color:gray">
                              .</span><span style="color:white">%</span><span style="color:#00b49c">-=-</span><span
                    style="color:white">+#*#%%*</span><span style="color:gray">.. .  ..      .::</span><span
                    style="color:#00b49c">=</span><span style="color:white">*</span><span style="color:gray">         .</span><span
                    style="color:white">%</span><span style="color:#dfdaf1">=</span><span style="color:gray">
                           ...</span><span style="color:white">#*#%%%%%%%%##%</span><span style="color:gray">.:.        :.:-</span><span
                    style="color:white">%</span><span style="color:gray">           </span><span style="color:white">#%</span><span
                    style="color:gray">
                       </span><span style="color:#00b49c">-</span><span style="color:white">#</span><span
                    style="color:gray">   </span><span style="color:#dfdaf1">=</span><span style="color:white">#</span><span
                    style="color:gray">.</span><span style="color:white">+</span><span style="color:#dfdaf1">++</span><span
                    style="color:white">%#</span><span style="color:#dfdaf1">=</span><span style="color:white">#%%%%%%%</span><span
                    style="color:gray">.      .:-</span><span style="color:white">%#</span><span style="color:#00b49c">=</span><span
                    style="color:#dfdaf1">=</span><span style="color:gray"> . ..       </span><span
                    style="color:white">#@</span><span style="color:gray">
                       .</span><span style="color:white">%+</span><span style="color:gray">   -</span><span
                    style="color:#00b49c">=</span><span style="color:gray">.</span><span style="color:#dfdaf1">=</span><span
                    style="color:white">##*%*##%%%%%%</span><span style="color:gray">:: .  :</span><span
                    style="color:#00b49c">-</span><span style="color:white">%#</span><span
                    style="color:gray">.....          </span><span style="color:white">#%</span><span style="color:gray">
                        </span><span style="color:white">%#</span><span style="color:gray">  </span><span
                    style="color:white">#</span><span style="color:gray"> .</span><span style="color:white">+</span><span
                    style="color:gray">::</span><span style="color:#dfdaf1">+</span><span style="color:white">%%####%%%%#</span><span
                    style="color:gray">-.  .:</span><span style="color:#00b49c">-</span><span style="color:white">%</span><span
                    style="color:#dfdaf1">=</span><span style="color:gray">..:.... .   -.</span><span
                    style="color:white">%</span><span style="color:gray"> </span><span style="color:white">*%</span><span
                    style="color:gray">  </span><span style="color:white">*</span><span style="color:gray">
                        </span><span style="color:white">%%</span><span style="color:gray">     </span><span
                    style="color:#00b49c">=</span><span style="color:white">%</span><span style="color:gray">::</span><span
                    style="color:#00b49c">-</span><span style="color:white">#%%%#</span><span style="color:gray">-</span><span
                    style="color:white">%*%</span><span style="color:#dfdaf1">+</span><span style="color:gray">:. ..</span><span
                    style="color:white">%</span><span style="color:#dfdaf1">=</span><span
                    style="color:gray">::::::.:..    :</span><span style="color:#00b49c">=</span><span style="color:gray">  </span><span
                    style="color:white">*%</span><span style="color:gray">
                        </span><span style="color:white">%%</span><span style="color:gray">      </span><span
                    style="color:#dfdaf1">=</span><span style="color:white">#</span><span style="color:gray">--</span><span
                    style="color:#00b49c">=</span><span style="color:white">#%%%%%%%</span><span style="color:gray">:: :</span><span
                    style="color:white">%%#</span><span style="color:gray">:::::::...     -</span><span
                    style="color:#dfdaf1">+</span><span style="color:gray">  </span><span style="color:white">*%</span><span
                    style="color:gray">  .                </span>
</code></pre>
</div>